
a {}
a:link    {}
a:visited {}
a:hover   {}
a:active  {}
a.active  {}

/* Global focus style for links. */
a:active,
a:focus {}

/* Any menu block in the menu-bar region. */
.nav {
  clear:both;
  margin: 0;
}
.nav li,
.nav .menu li {
  display: inline;
  float: left;
  list-style: none;
}
.nav li a,
.nav .menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 10px;
}
.nav ul,
.nav ul.menu,
.nav ul.menu li {
  margin: 0;
  padding: 0;
}
.nav .block {
  margin: 0;
  padding: 0;
}

/* Menus */
.menu,
.menu ul, 
.menu ul ul, 
.menu ul ul ul {}

/* Menu li styles */
.menu li {}

.menu li.collapsed {}
.menu li.expanded  {}
.menu li.leaf      {}

.menu li a:link,
.menu li a:visited {}
.menu li a:hover,
.menu li a:focus,
.menu li a:active  {}
.menu li.active a  {}
.menu li.active-trail a {}

.menu li.first {}
.menu li.last  {}

.block .menu li.content {
  padding: 0; /* extra class can equal a standard class */
}

/* Breadcrumb */
#breadcrumb-wrapper {
  padding-bottom: 1em;
}
/* T4 builds brumbcrumb trails as an ordered list. */
ol#crumbs {
  margin: 0;
  padding: 0;
}
ol#crumbs li {
  list-style: none;
  display: inline;
}
ol#crumbs li a {}
ol#crumbs li a:link {}
ol#crumbs li a:visited {}
ol#crumbs li a:hover {}
ol#crumbs li a:focus {}
ol#crumbs li a:active {}

/* Pager */
ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}
.item-list ul.pager li {
  margin: 0;
}
ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}
ul.pager li.pager-current {
  font-weight: 700;
}
.block ul.pager li {
  margin: 0;
}

/* Theme the various states of pager links. */
ul.pager li a:link    {}
ul.pager li a:visited {}
ul.pager li a:hover   {}

/* Note: .pager-current is for the current page. */
ul.pager li.pager-item     {}
ul.pager li.first          {}
ul.pager li.last           {}
ul.pager li.pager-current  {}
ul.pager li.pager-first    {}
ul.pager li.pager-previous {}
ul.pager li.pager-next     {}
ul.pager li.pager-last     {}

/* Superfish Skins */
.sf-menu {
  margin-bottom: 0;
  height: 30px;
  line-height: 30px;
}
.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: .75em 1em;
  text-decoration: none;
}
.sf-menu a:link,
.sf-menu a,
.sf-menu a:visited  {}
.sf-menu > li > a:link,
.sf-menu > li > a,
.sf-menu > li > a:visited  {}
.sf-menu li {
  background: transparent;
}
.sf-menu li li {}
.sf-menu li li li {}
.sf-menu li li li li {}
.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active {
  outline: 0;
}

/* Superfish blocks */
.block-superfish .block-inner,
.block-superfish .block-inner .content {
  padding: 0;
  margin: 0;
}
.block-superfish ul,
.block-superfish ul ul,
.block-superfish ul ul ul,
.block-superfish ul ul ul ul,
.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
}
.sf-vertical,
.sf-vertical li {
  width: 100%;
}
.sf-vertical li {
  border-bottom: 1px solid #fff;
}
.sf-vertical li.last {
  border-bottom: none;
}
.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
  left: 100%; /* match ul width */
  top:  0;
  margin: 0;
  padding: 0;
}
.sf-vertical li a {
  padding: 0 10px;
}
.sf-navbar {
  padding-bottom: 0 !important;
}

/* Skip Navigation */
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
  -khtml-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  outline: 0;
}

/* Tabs */
#tasks {
  margin-bottom: 1em;
}
ul.primary {
  border-bottom-color:#ccc;
  margin: 1.5em 0 0;
  padding: 0 0 .2em .3em;
}
ul.primary li a {
  background-color: #f5f5f5;
  margin-right: .08em;
  border-color: #ccc;
  padding: .1em .75em .2em;
}
.local-tasks ul.primary li a:hover {
  background-color: #f7f7f7;
  border-color: #ddd;
}
.local-tasks ul.primary li.active a {
  background-color: #fff;
  border-bottom-color: #fff;
}
ul.secondary {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}
ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 2em 0 0;
}
ul.secondary li a:hover,
ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}

