/* Reset */
body,
h1,h2,h3,h4,h5,h6,
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img,
em,dfn,del,ins,
a,
tbody,tfoot,thead,tr,
li,
label,legend {
  margin: 0;
  padding: 0;
}
.wrapper,
.container {
  margin: 0 auto;
  zoom: 1;
}
* html .wrapper {
  height: 1%;
  overflow: hidden;
  display: block;
}

/* Reset HTML5 elements, CSS assumes elements are inline. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
