/* debug grid */
body.show-grid .grid-1,
body.show-grid .grid-2,
body.show-grid .grid-3,
body.show-grid .grid-4,
body.show-grid .grid-5,
body.show-grid .grid-6,
body.show-grid .grid-7,
body.show-grid .grid-8,
body.show-grid .grid-9,
body.show-grid .grid-10,
body.show-grid .grid-11,
body.show-grid .grid-12,
body.show-grid .grid-13,
body.show-grid .grid-14,
body.show-grid .grid-15,
body.show-grid .grid-16,
body.show-grid .grid-17,
body.show-grid .grid-18,
body.show-grid .grid-19,
body.show-grid .grid-20,
body.show-grid .grid-21,
body.show-grid .grid-22,
body.show-grid .grid-23,
body.show-grid .grid-24 {
  background-color: rgba(0, 0, 1, 0.1);
}
body.show-grid .grid-1:hover,
body.show-grid .grid-2:hover,
body.show-grid .grid-3:hover,
body.show-grid .grid-4:hover,
body.show-grid .grid-5:hover,
body.show-grid .grid-6:hover,
body.show-grid .grid-7:hover,
body.show-grid .grid-8:hover,
body.show-grid .grid-9:hover,
body.show-grid .grid-10:hover,
body.show-grid .grid-11:hover,
body.show-grid .grid-12:hover,
body.show-grid .grid-13:hover,
body.show-grid .grid-14:hover,
body.show-grid .grid-15:hover,
body.show-grid .grid-16:hover,
body.show-grid .grid-17:hover,
body.show-grid .grid-18:hover,
body.show-grid .grid-19:hover,
body.show-grid .grid-20:hover,
body.show-grid .grid-21:hover,
body.show-grid .grid-22:hover,
body.show-grid .grid-23:hover,
body.show-grid .grid-24:hover {
  background-color: rgba(0, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: left top;
}
body.show-grid .inner .grid-1:hover,
body.show-grid .inner .grid-2:hover,
body.show-grid .inner .grid-3:hover,
body.show-grid .inner .grid-4:hover,
body.show-grid .inner .grid-5:hover,
body.show-grid .inner .grid-6:hover,
body.show-grid .inner .grid-7:hover,
body.show-grid .inner .grid-8:hover,
body.show-grid .inner .grid-9:hover,
body.show-grid .inner .grid-10:hover,
body.show-grid .inner .grid-11:hover,
body.show-grid .inner .grid-12:hover,
body.show-grid .inner .grid-13:hover,
body.show-grid .inner .grid-14:hover,
body.show-grid .inner .grid-15:hover,
body.show-grid .inner .grid-16:hover,
body.show-grid .inner .grid-17:hover,
body.show-grid .inner .grid-18:hover,
body.show-grid .inner .grid-19:hover,
body.show-grid .inner .grid-20:hover,
body.show-grid .inner .grid-21:hover,
body.show-grid .inner .grid-22:hover,
body.show-grid .inner .grid-23:hover,
body.show-grid .inner .grid-24:hover {
  background-color: rgba(0, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: top right;
}
body.show-grid .grid-1:hover {background-image: url(images/grid_count/grid-1.png);}
body.show-grid .grid-2:hover {background-image: url(images/grid_count/grid-2.png);}
body.show-grid .grid-3:hover {background-image: url(images/grid_count/grid-3.png);}
body.show-grid .grid-4:hover {background-image: url(images/grid_count/grid-4.png);}
body.show-grid .grid-5:hover {background-image: url(images/grid_count/grid-5.png);}
body.show-grid .grid-6:hover {background-image: url(images/grid_count/grid-6.png);}
body.show-grid .grid-7:hover {background-image: url(images/grid_count/grid-7.png);}
body.show-grid .grid-8:hover {background-image: url(images/grid_count/grid-8.png);}
body.show-grid .grid-9:hover {background-image: url(images/grid_count/grid-9.png);}
body.show-grid .grid-10:hover {background-image: url(images/grid_count/grid-10.png);}
body.show-grid .grid-11:hover {background-image: url(images/grid_count/grid-11.png);}
body.show-grid .grid-12:hover {background-image: url(images/grid_count/grid-12.png);}
body.show-grid .grid-13:hover {background-image: url(images/grid_count/grid-13.png);}
body.show-grid .grid-14:hover {background-image: url(images/grid_count/grid-14.png);}
body.show-grid .grid-15:hover {background-image: url(images/grid_count/grid-15.png);}
body.show-grid .grid-16:hover {background-image: url(images/grid_count/grid-16.png);}
body.show-grid .grid-17:hover {background-image: url(images/grid_count/grid-17.png);}
body.show-grid .grid-18:hover {background-image: url(images/grid_count/grid-18.png);}
body.show-grid .grid-19:hover {background-image: url(images/grid_count/grid-19.png);}
body.show-grid .grid-20:hover {background-image: url(images/grid_count/grid-20.png);}
body.show-grid .grid-21:hover {background-image: url(images/grid_count/grid-21.png);}
body.show-grid .grid-22:hover {background-image: url(images/grid_count/grid-22.png);}
body.show-grid .grid-23:hover {background-image: url(images/grid_count/grid-23.png);}
body.show-grid .grid-24:hover {background-image: url(images/grid_count/grid-24.png);}
