/**
 * Adaptive Fluid Grids (grid-12)
 * By Jeff Burnz
 */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5, 
.grid-6, 
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  display: inline;
  float: left;
  margin-right: 2.12766%; /* gutter */
  position: relative;
  zoom: 1;
}
.grid-1 {
  width: 6.38297%;
}
.grid-2 {
  width: 14.89361%;
}
.grid-3 {
  width: 23.40425%;
}
.grid-4 {
  width: 31.91489%;
}
.grid-5 {
  width: 40.42553%;
}
.grid-6 {
  width: 48.93617%;
}
.grid-7 {
  width: 57.4468%;
}
.grid-8 {
  width: 65.95744%;
}
.grid-9 {
  width: 74.46808%;
}
.grid-10 {
  width: 82.97872%;
}
.grid-11 {
  width: 91.48936%;
}
.grid-12 {
  width: 100%;
  margin-right: 0;
}

.last-col {
  margin-right: 0;
}

/* Push (grid width + gutter (2.12766%;)) */
.push-1 {
  margin-left: 8.51063%;
}
.push-2 {
  margin-left: 17.02127%;
}
.push-3 {
  margin-left: 25.53191%;
}
.push-4 {
  margin-left: 34.04255%;
}
.push-5 {
  margin-left: 42.55319%;
}
.push-6 {
  margin-left: 51.06383%;
}
.push-7 {
  margin-left: 59.57446%;
}
.push-8 {
  margin-left: 68.0851%;
}
.push-9 {
  margin-left: 76.595686%;
}
.push-10 {
  margin-left: 85.10638%;
}
.push-11 {
  margin-left: 93.61702%;
}

/* Pull (grid width + gutter (2.12766%;)) */
.pull-1 {
  margin-left: -8.51063%;
}
.pull-2 {
  margin-left: -17.02127%;
}
.pull-3 {
  margin-left: -25.53191%;
}
.pull-4 {
  margin-left: -34.04255%;
}
.pull-5 {
  margin-left: -42.42553%;
}
.pull-6 {
  margin-left: -51.06383%;
}
.pull-7 {
  margin-left: -59.57446%;
}
.pull-8 {
  margin-left: -68.0851%;
}
.pull-9 {
  margin-left: -76.595686%;
}
.pull-10 {
  margin-left: -85.10638%;
}
.pull-11 {
  margin-left: -93.61702%;
}
