/**
 * Adaptive Fluid Grids (grid-24)
 * By Jeff Burnz
 */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18,
.grid-19,
.grid-20,
.grid-21,
.grid-22,
.grid-23,
.grid-24 {
	display: inline;
	float: left;
	margin-right: 1.05264%; /* gutter */
	padding: 0;
	position: relative;
	zoom: 1;
}
.grid-1 {width: 3.15789%;}
.grid-2 {width: 7.36842%;}
.grid-3 {width: 11.57894%;}
.grid-4 {width: 15.78947%;}
.grid-5 {width: 20%;}
.grid-6 {width: 24.21052%;}
.grid-7 {width: 28.42105%;}
.grid-8 {width: 32.63157%;}
.grid-9 {width: 36.8421%;}
.grid-10 {width: 41.05263%;}
.grid-11 {width: 45.26315%;}
.grid-12 {width: 49.47368%;}
.grid-13 {width: 53.68421%;}
.grid-14 {width: 57.89473%;}
.grid-15 {width: 62.10526%;}
.grid-16 {width: 66.31578%;}
.grid-17 {width: 70.52631%;}
.grid-18 {width: 74.73684%;}
.grid-19 {width: 78.94736%;}
.grid-20 {width: 83.15789%;}
.grid-21 {width: 87.36842%;}
.grid-22 {width: 91.57894%;}
.grid-23 {width: 95.78947%;}
.grid-24 {width: 100%; margin-right: -0;}

/* Push = grid width + gutter width (1.05264%) */
.push-1 {margin-left: 4.21053%;}
.push-2 {margin-left: 8.42106%;}
.push-3 {margin-left: 12.63158%;}
.push-4 {margin-left: 15.78947%;}
.push-5 {margin-left: 21.05264%;}
.push-6 {margin-left: 25.26316%;}
.push-7 {margin-left: 29.47369%;}
.push-8 {margin-left: 33.68421%;}
.push-9 {margin-left: 37.89474%;}
.push-10 {margin-left: 42.10527%;}
.push-11 {margin-left: 46.31579%;}
.push-12 {margin-left: 50.52632%;}
.push-13 {margin-left: 54.73685%;}
.push-14 {margin-left: 58.94737%;}
.push-15 {margin-left: 63.1579%;}
.push-16 {margin-left: 66.31578%;}
.push-17 {margin-left: 71.57895%;}
.push-18 {margin-left: 75.78948%;}
.push-19 {margin-left: 80.00000%;}
.push-20 {margin-left: 84.21053%;}
.push-21 {margin-left: 88.42106%;}
.push-22 {margin-left: 92.63158%;}
.push-23 {margin-left: 96.84211%;}
.push-24 {margin-left: 100%;}

/* Pull = grid width + gutter width (1.05264%) */
.pull-1 {margin-left: -4.21053%;}
.pull-2 {margin-left: -8.42106%;}
.pull-3 {margin-left: -12.63158%;}
.pull-4 {margin-left: -15.78947%;}
.pull-5 {margin-left: -21.05264%;}
.pull-6 {margin-left: -25.26316%;}
.pull-7 {margin-left: -29.47369%;}
.pull-8 {margin-left: -33.68421%;}
.pull-9 {margin-left: -37.89474%;}
.pull-10 {margin-left: -42.10527%;}
.pull-11 {margin-left: -46.31579%;}
.pull-12 {margin-left: -50.52632%;}
.pull-13 {margin-left: -54.73685%;}
.pull-14 {margin-left: -58.94737%;}
.pull-15 {margin-left: -63.1579%;}
.pull-16 {margin-left: -66.31578%;}
.pull-17 {margin-left: -71.57895%;}
.pull-18 {margin-left: -75.78948%;}
.pull-19 {margin-left: -80.00000%;}
.pull-20 {margin-left: -84.21053%;}
.pull-21 {margin-left: -88.42106%;}
.pull-22 {margin-left: -92.63158%;}
.pull-23 {margin-left: -96.84211%;}
.pull-24 {margin-left: -100%;}

.last-col {margin-right: 0;}
