/* Messages */
div.messages {
  margin: 10px;
}
#block-system-help {
  background: #f2f2f2;
  border: none;
  margin: 6px 0;
  padding: 10px 10px 10px 50px;
}
#block-system-help code,
div.messages code {
  font-weight: 700;
}
div.help p:last-child,
div.help ul:last-child {
  margin-bottom: 0;
}
.block-region {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background-color: #f7f8f8;
  border: 2px dashed #ddd;
  clear: both;
  color: #666;
  font-family: Consolas, "Lucida Console", Menlo, Monaco, "DejaVu Sans Mono", monospace, sans-serif; /* Safari hack */
  font-size: 1.077em;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 3px 6px 1px;
}
div#acquia-agent-no-search {
  padding-left:3em !important;
  margin: 8px 0;
}
a.block-demo-backlink,
a.block-demo-backlink:link,
a.block-demo-backlink:visited {
  left:50%;
  margin-left:-9em;
  text-align:center;
  width:18em;
}
