/* theme settings css */
div.vertical-tabs .vertical-tabs-panes {
  min-height: 300px;
}
.vertical-tabs-panes .form-item {
  clear: both;
}
.vertical-tabs-panes label {
  float: left;
  width: 14em;
}
.vertical-tabs-panes select {
  width: 16em;
}
#edit-font label {
  width: 10em;
}
#edit-font select {
  width: 20em;
}
#edit-font #edit-font-size {
  width: auto;
}
#edit-breadcrumb select#edit-breadcrumb-display,
#edit-breadcrumb input#edit-breadcrumb-separator {
  width: auto;
}
.vertical-tabs-panes .form-type-checkbox label,
.vertical-tabs-panes .form-type-radios label {
  float: none;
  width: auto;
}

.vertical-tabs-panes fieldset fieldset {
  background: #f2f2f2;
  border: 1px solid #ccc;
}
